extends layout

block content    
  body
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/') Off The Threads Dashboard 
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item.active
              a.nav-link(href='/')
                | Home 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/inventory') Current Inventory 
            li.nav-item
              a.nav-link(href='#alteration_schedule') Alteration Schedule 
            li.nav-item
              a.nav-link(href='#transactions') Transactions 
      .jumbotron.jumbotron-fluid
        .container
          h1.display-4 Inventory 
      .container-fluid
        table.table.table-hover
          thead
            tr
              th(scope='col') Id 
              th(scope='col') Name 
              th(scope='col') Size
              th(scope='col') Category 
              th(scope='col') Type 
              th(scope='col') Color 
              th(scope='col') Condition 
              th(scope='col') Era 
              th(scope='col') Description 
              th(scope='col') Reworked 
              th(scope='col') Bought 
              th(scope='col') Price 
          tbody
            for item in clothing
              tr
                th(scope='row')= item.id 
                td= item.item_name
                td= item.item_size
                td= item.item_category
                td= item.item_type
                td= item.item_color
                td= item.item_condition
                td= item.item_era
                td= item.item_description
                if item.item_reworked
                  td ✔️
                else 
                  td ❌
                if item.item_bought
                  td ✔️
                else 
                  td ❌
                td= item.item_price
            
